* {
  font-family: Arial;
  margin: 2px;
}

code, pre {
	font-family: monospace;
}

hr {
  background-color: black;
  border: none;
  height: 1px;
  margin: 10px 2px;
}

td {
  padding-right: 15px;
}
