{% extends "base.html"%}
{% block content %}
<h2>{{paste}}</h2>
<p>
    {{paste.timestamp}}
    {% if paste.private %}
        | private
    {% endif %}
    {% if paste.owner %}
        | {{paste.owner}}
    {% endif %}
</p>
<p>
    <a href="{% url "paste:raw" paste.pk %}" target="_blank">raw</a>
    {% if request.user.profile and paste.owner == request.user.profile %}
    	<a href="{% url "paste:edit" paste.pk %}">edit</a>
    	<a href="{% url "paste:delete" paste.pk %}">delete</a>
    {% endif %}
</p>
<p>{{paste.description|linebreaksbr}}</p>

<hr>

<pre><code>{{paste.content}}</code></pre>

{% endblock content %}
