{% extends "base.html"%}
{% block content %}
<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>owner</td>
        <td>raw</td>
        <td>edit</td>
        <td>delete</td>
        <td>timestamp</td>
    </tr>
    {% for paste in pastes %}
        <tr>
            <td><a href="{% url "paste:detail" paste.pk %}">#{{paste.pk}}</a></td>
            <td>
                {{paste.name}}
            </td>
            <td>
                {% if paste.owner %}
                    {{paste.owner}}
                {% endif %}
            </td>
            <td>
                <a href="{% url "paste:raw" paste.pk %}" target="_blank">raw</a>
            </td>
            <td>
                {% if paste.owner == request.user.profile %}
                    <a href="{% url "paste:edit" paste.pk %}">edit</a>
                {% endif %}
            </td>
            <td>
                {% if paste.owner == request.user.profile  %}
                    <a href="{% url "paste:delete" paste.pk %}">delete</a>
                {% endif %}
            </td>
            <td>{{paste.timestamp}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}