<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if title %}{{title}} | {% endif %}Paste</title>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}main.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}highlight/github.css">
        <script type="text/javascript" src="{{STATIC_URL}}highlight/highlight.pack.js"></script>
    </head>
    <body>
        {% block base_content %}
            <h1>Paste</h1>
            <p>
                <a href="/">all</a>
                <a href="{% url "paste:index_my" %}">my</a>
                <a href="{% url "paste:add" %}">add</a>
                |
                {% if request.user.is_authenticated %}
                    {{request.user.profile}}
                    <a href="{% url "paste:settings" %}">settings</a>
                    <a href="{% url "paste:logout" %}?next=/">logout</a>
                {% else %}
                    <a href="{% url "paste:login" %}">login</a>
                {% endif %}
            </p>
            {% block content %}
            {% endblock content %}
        {% endblock base_content %}
        <hr>
        <p>Paste, source on <a href="http://github.com/ondrejsika/paste" target="_blank">GitHub</a> by <a href="http://ondrejsika.com" target="_blank">Ondrej Sika</a></p>
    </body>
</html>
